@page
@model LoginModel

@{
    ViewData["Title"] = "Prijava";
}
<div class="col-lg-6" style="margin: auto">
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">
                Prijava
            </h3>
        </div>
        <form id="account" method="post">
            <div class="card-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                        <button type="submit" class="btn btn-primary">Prijava</button>
                    </div>
                <div class="form-group">
                    <p>
                        Nov uporabnik? 
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrirajte se!</a>
                    </p>
                </div>
            </div>
        </form>
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
