<!DOCTYPE html>
<!--
  Invoice template by invoicebus.com
  To customize this template consider following this guide https://invoicebus.com/how-to-create-invoice-template/
  This template is under Invoicebus Template License, see https://invoicebus.com/templates/license/
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cobardia (firebrick)</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Invoicebus Invoice Template">
    <meta name="author" content="Invoicebus">

    <meta name="template-hash" content="baadb45704803c2d1a1ac3e569b757d5">

    <link rel="stylesheet" href="/Rotativa/template/cobardia.css">
</head>
<body>
    <div id="container">
        <section id="memo">
            <div class="logo">
                <img data-logo="company-logo" src="/Rotativa/template/logo-placeholder.jpg" />
            </div>

            <div class="company-info">
                <div>[Ime podjetja]</div>

                <br />

                <span>[Naslov podjetja]</span>
                <span>[Poštna številka, kraj]</span>

                <br />

                <span>[Telefonska številka]</span>
                <span>[Email naslov]</span>
            </div>

        </section>
        @RenderBody()
    </div>
</body>
</html>
