@model CustomInvoice.WebApp.ViewModels.ClientFormViewModel

@{
    if (Model.Client == null)
    {
        ViewData["Title"] = "Dodajanje stranke";
    }
    else
    {
        ViewData["Title"] = "Urejanje stranke";
    }
}
@{
    var selectList = new SelectList(
new List<SelectListItem>
{
            new SelectListItem {Text = "Fizična oseba", Value = "Fizicna oseba"},
            new SelectListItem {Text = "Pravna oseba", Value = "Pravna oseba"},
            new SelectListItem {Text = "Samostojni podjetnik", Value = "s.p."},
            new SelectListItem {Text = "Drugo", Value = "Drugo"},
                        }, "Value", "Text");
}
<div class="row">
    <div class="card card-custom">
        @if (Model.Client == null)
        {
            <div class="card-header">
                <h3 class="card-title">
                    Dodajanje nove stranke
                </h3>
            </div>
        }
        else
        {
            <div class="card-header">
                <h3 class="card-title">
                    Urejanje stranke - @Model.Client.Name
                </h3>
            </div>
        }

        @using (Html.BeginForm("Save", "Client"))
        {
            <!--begin::Form-->
            <form asp-action="Save">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group row">
                        <div class="col-lg-11">
                            <label asp-for="Client.Name" class="control-label"></label>
                            <input asp-for="Client.Name" class="form-control checkbox" />
                            <span asp-validation-for="Client.Name" class="text-danger"></span>
                        </div>
                        <div class="col-lg-1">
                            <label class="control-label">Dav. zav.</label>
                            <span class="switch">
                                <label>
                                    <input asp-for="Client.taxPayer" class="form-control" id="reg-switch"/>
                                    <span></span>
                                </label>
                            </span>
                            <span asp-validation-for="Client.taxPayer" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label asp-for="Client.Type" class="control-label"></label>
                            @*<input asp-for="Client.Type" class="form-control" />*@
                            @Html.DropDownListFor(m => m.Client.Type, selectList, "Izberi tip", new { @class = "form-control" })
                            <span asp-validation-for="Client.Type" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3">
                            <label asp-for="Client.RegistrationNumber" class="control-label"></label>
                            <input asp-for="Client.RegistrationNumber" class="form-control"/>
                            <span asp-validation-for="Client.RegistrationNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <label asp-for="Client.taxNumber" class="control-label"></label>
                            <input asp-for="Client.taxNumber" class="form-control" id="reg-st"/>
                            <span asp-validation-for="Client.taxNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        @* naslov *@
                        <div class="col-lg-3">
                            <label asp-for="Client.StreetName" class="control-label"></label>
                            <input asp-for="Client.StreetName" class="form-control" />
                            <span asp-validation-for="Client.StreetName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-1">
                            <label asp-for="Client.StreetNumber" class="control-label"></label>
                            <input asp-for="Client.StreetNumber" class="form-control" />
                            <span asp-validation-for="Client.StreetNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2">
                            <label asp-for="Client.PostNumber" class="control-label"></label>
                            <input asp-for="Client.PostNumber" class="form-control" />
                            <span asp-validation-for="Client.PostNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3">
                            <label asp-for="Client.City" class="control-label"></label>
                            <input asp-for="Client.City" class="form-control" />
                            <span asp-validation-for="Client.City" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3">
                            <label asp-for="Client.Country" class="control-label"></label>
                            <select class="form-control select2 is-valid" id="kt_select2_1_validate" asp-for="Client.Country">
                                <option value="Afganistan">Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                                <option>American Samoa</option>
                                <option>Andorra</option>
                                <option>Angola</option>
                                <option>Anguilla</option>
                                <option>Argentina</option>
                                <option>Armenia</option>
                                <option>Aruba</option>
                                <option>Australia</option>
                                <option>Austria</option>
                                <option>Azerbaijan</option>
                                <option>Bahamas</option>
                                <option>Bahrain</option>
                                <option>Bangladesh</option>
                                <option>Barbados</option>
                                <option>Belarus</option>
                                <option>Belgium</option>
                                <option>Belize</option>
                                <option>Benin</option>
                                <option>Bermuda</option>
                                <option>Bhutan</option>
                                <option>Bolivia</option>
                                <option>Bosnia and Herzegowina</option>
                                <option>Botswana</option>
                                <option>Bouvet Island</option>
                                <option>Brazil</option>
                                <option>British Indian Ocean Territory</option>
                                <option>Brunei Darussalam</option>
                                <option>Bulgaria</option>
                                <option>Burkina Faso</option>
                                <option>Burundi</option>
                                <option>Cambodia</option>
                                <option>Cameroon</option>
                                <option>Canada</option>
                                <option>Cape Verde</option>
                                <option>Cayman Islands</option>
                                <option>Central African Republic</option>
                                <option>Chad</option>
                                <option>Chile</option>
                                <option>China</option>
                                <option>Christmas Island</option>
                                <option>Cocos (Keeling) Islands</option>
                                <option>Colombia</option>
                                <option>Comoros</option>
                                <option>Congo</option>
                                <option>Congo, the Democratic Republic of the</option>
                                <option>Cook Islands</option>
                                <option>Costa Rica</option>
                                <option>Cote d'Ivoire</option>
                                <option>Croatia (Hrvatska)</option>
                                <option>Cuba</option>
                                <option>Cyprus</option>
                                <option>Czech Republic</option>
                                <option>Denmark</option>
                                <option>Djibouti</option>
                                <option>Dominica</option>
                                <option>Dominican Republic</option>
                                <option>Ecuador</option>
                                <option>Egypt</option>
                                <option>El Salvador</option>
                                <option>Equatorial Guinea</option>
                                <option>Eritrea</option>
                                <option>Estonia</option>
                                <option>Ethiopia</option>
                                <option>Falkland Islands (Malvinas)</option>
                                <option>Faroe Islands</option>
                                <option>Fiji</option>
                                <option>Finland</option>
                                <option>France</option>
                                <option>French Guiana</option>
                                <option>French Polynesia</option>
                                <option>French Southern Territories</option>
                                <option>Gabon</option>
                                <option>Gambia</option>
                                <option>Georgia</option>
                                <option>Germany</option>
                                <option>Ghana</option>
                                <option>Gibraltar</option>
                                <option>Greece</option>
                                <option>Greenland</option>
                                <option>Grenada</option>
                                <option>Guadeloupe</option>
                                <option>Guam</option>
                                <option>Guatemala</option>
                                <option>Guinea</option>
                                <option>Guinea-Bissau</option>
                                <option>Guyana</option>
                                <option>Haiti</option>
                                <option>Heard and Mc Donald Islands</option>
                                <option>Holy See (Vatican City State)</option>
                                <option>Honduras</option>
                                <option>Hong Kong</option>
                                <option>Hungary</option>
                                <option>Iceland</option>
                                <option>India</option>
                                <option>Indonesia</option>
                                <option>Iran (Islamic Republic of)</option>
                                <option>Iraq</option>
                                <option>Ireland</option>
                                <option>Israel</option>
                                <option>Italy</option>
                                <option>Jamaica</option>
                                <option>Japan</option>
                                <option>Jordan</option>
                                <option>Kazakhstan</option>
                                <option>Kenya</option>
                                <option>Kiribati</option>
                                <option>Korea, Democratic People's Republic of</option>
                                <option>Korea, Republic of</option>
                                <option>Kuwait</option>
                                <option>Kyrgyzstan</option>
                                <option>Lao People's Democratic Republic</option>
                                <option>Latvia</option>
                                <option>Lebanon</option>
                                <option>Lesotho</option>
                                <option>Liberia</option>
                                <option>Libyan Arab Jamahiriya</option>
                                <option>Liechtenstein</option>
                                <option>Lithuania</option>
                                <option>Luxembourg</option>
                                <option>Macau</option>
                                <option>Macedonia, The Former Yugoslav Republic of</option>
                                <option>Madagascar</option>
                                <option>Malawi</option>
                                <option>Malaysia</option>
                                <option>Maldives</option>
                                <option>Mali</option>
                                <option>Malta</option>
                                <option>Marshall Islands</option>
                                <option>Martinique</option>
                                <option>Mauritania</option>
                                <option>Mauritius</option>
                                <option>Mayotte</option>
                                <option>Mexico</option>
                                <option>Micronesia, Federated States of</option>
                                <option>Moldova, Republic of</option>
                                <option>Monaco</option>
                                <option>Mongolia</option>
                                <option>Montserrat</option>
                                <option>Morocco</option>
                                <option>Mozambique</option>
                                <option>Myanmar</option>
                                <option>Namibia</option>
                                <option>Nauru</option>
                                <option>Nepal</option>
                                <option>Netherlands</option>
                                <option>Netherlands Antilles</option>
                                <option>New Caledonia</option>
                                <option>New Zealand</option>
                                <option>Nicaragua</option>
                                <option>Niger</option>
                                <option>Nigeria</option>
                                <option>Niue</option>
                                <option>Norfolk Island</option>
                                <option>Northern Mariana Islands</option>
                                <option>Norway</option>
                                <option>Oman</option>
                                <option>Pakistan</option>
                                <option>Palau</option>
                                <option>Panama</option>
                                <option>Papua New Guinea</option>
                                <option>Paraguay</option>
                                <option>Peru</option>
                                <option>Philippines</option>
                                <option>Pitcairn</option>
                                <option>Poland</option>
                                <option>Portugal</option>
                                <option>Puerto Rico</option>
                                <option>Qatar</option>
                                <option>Reunion</option>
                                <option>Romania</option>
                                <option>Russian Federation</option>
                                <option>Rwanda</option>
                                <option>Saint Kitts and Nevis</option>
                                <option>Saint LUCIA</option>
                                <option>Saint Vincent and the Grenadines</option>
                                <option>Samoa</option>
                                <option>San Marino</option>
                                <option>Sao Tome and Principe</option>
                                <option>Saudi Arabia</option>
                                <option>Senegal</option>
                                <option>Seychelles</option>
                                <option>Sierra Leone</option>
                                <option>Singapore</option>
                                <option>Slovakia (Slovak Republic)</option>
                                <option>Slovenia</option>
                                <option>Solomon Islands</option>
                                <option>Somalia</option>
                                <option>South Africa</option>
                                <option>South Georgia and the South Sandwich Islands</option>
                                <option>Spain</option>
                                <option>Sri Lanka</option>
                                <option>St. Helena</option>
                                <option>St. Pierre and Miquelon</option>
                                <option>Sudan</option>
                                <option>Suriname</option>
                                <option>Svalbard and Jan Mayen Islands</option>
                                <option>Swaziland</option>
                                <option>Sweden</option>
                                <option>Switzerland</option>
                                <option>Syrian Arab Republic</option>
                                <option>Taiwan, Province of China</option>
                                <option>Tajikistan</option>
                                <option>Tanzania, United Republic of</option>
                                <option>Thailand</option>
                                <option>Togo</option>
                                <option>Tokelau</option>
                                <option>Tonga</option>
                                <option>Trinidad and Tobago</option>
                                <option>Tunisia</option>
                                <option>Turkey</option>
                                <option>Turkmenistan</option>
                                <option>Turks and Caicos Islands</option>
                                <option>Tuvalu</option>
                                <option>Uganda</option>
                                <option>Ukraine</option>
                                <option>United Arab Emirates</option>
                                <option>United Kingdom</option>
                                <option>United States</option>
                                <option>United States Minor Outlying Islands</option>
                                <option>Uruguay</option>
                                <option>Uzbekistan</option>
                                <option>Vanuatu</option>
                                <option>Venezuela</option>
                                <option>Viet Nam</option>
                                <option>Virgin Islands (British)</option>
                                <option>Virgin Islands (U.S.)</option>
                                <option>Wallis and Futuna Islands</option>
                                <option>Western Sahara</option>
                                <option>Yemen</option>
                                <option>Zambia</option>
                                <option>Zimbabwe</option>
                            </select>

                            <span asp-validation-for="Client.Country" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        @* kontakt *@
                        <div class="col-lg-6">
                            <label asp-for="Client.Email" class="control-label"></label>
                            <input asp-for="Client.Email" class="form-control" />
                            <span asp-validation-for="Client.Email" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <label asp-for="Client.PhoneNumber" class="control-label"></label>
                            <input asp-for="Client.PhoneNumber" class="form-control" />
                            <span asp-validation-for="Client.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Shrani" class="btn btn-primary" />
                    <a asp-area="" asp-controller="Client" asp-action="Index" class="btn btn-secondary">Prekliči</a>
                </div>
            </form>
        }
    </div>
</div>

@section Scripts {
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/theme/js/select2.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            if ($('#reg-switch').prop("checked") == false) {
                $('#reg-st').prop("disabled", true);
            };
            $("#reg-switch").click(function () {
                if ($(this).prop("checked") == true) {
                    $('#reg-st').prop("disabled", false);
                }
                else if ($(this).prop("checked") == false) {
                    $('#reg-st').prop("disabled", true);
                }
            });
        });
    </script>
}
