@{
    ViewData["Title"] = "O nas";
}
<div class="row">
    @* Klemen *@
    <div class="col-xl-3">

        <!--begin::Nav Panel Widget 2-->
        <div class="card card-custom card-stretch gutter-b">
            <!--begin::Body-->
            <div class="card-body">
                <!--begin::Wrapper-->
                <div class="d-flex justify-content-between flex-column pt-4 h-100">
                    <!--begin::Container-->
                    <div class="pb-5">
                        <!--begin::Header-->
                        <div class="d-flex flex-column flex-center">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-120 symbol-circle symbol-success overflow-hidden">
                                <span class="symbol-label">
                                    <img src="~/theme/img/klemen.png" class="h-100 align-self-end" alt="">
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Username-->
                            <a href="#" class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1">Klemen Praznik</a>
                            <!--end::Username-->
                            <!--begin::Info-->
                            <div class="font-weight-bold text-dark-50 font-size-sm pb-6">Inženir informatike</div>
                            <div class="font-weight-bold text-dark-50 font-size-sm pb-6">3. letnik FRI VSŠ</div>
                            <!--end::Info-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="pt-1" style="text-align: justify">
                            <!--begin::Text-->
                            <p class="text-dark-75 font-weight-nirmal font-size-lg m-0 pb-7">Najraje programiram v programskem jeziku C#, imam pa široko znanje tehnologij na področju spletnih aplikacij kot so HTML, CSS, JavaScript (VueJS, jQuery), PHP, ASP .NET, .NET CORE.</p>
                            <!--end::Text-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--eng::Container-->
                    <!--begin::Footer-->
                    <div class="d-flex flex-center" data-toggle="tooltip" title="" data-placement="right" data-original-title="Chat Example" href="mailTo:kp5207@student.uni-lj.si">
                        <a href="mailTo:kp5207@student.uni-lj.si" class="btn btn-primary font-weight-bolder font-size-sm py-3 px-14">Kontaktiraj me</a>
                    </div>
                    <!--end::Footer-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Nav Panel Widget 2-->

    </div>

    @* Martine *@
    <div class="col-xl-3">

        <!--begin::Nav Panel Widget 2-->
        <div class="card card-custom card-stretch gutter-b">
            <!--begin::Body-->
            <div class="card-body">
                <!--begin::Wrapper-->
                <div class="d-flex justify-content-between flex-column pt-4 h-100">
                    <!--begin::Container-->
                    <div class="pb-5">
                        <!--begin::Header-->
                        <div class="d-flex flex-column flex-center">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-120 symbol-circle symbol-success overflow-hidden">
                                <span class="symbol-label">
                                    <img src="~/theme/img/martine.jpg" class="h-100 align-self-end" alt="">
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Username-->
                            <a href="#" class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1">Martin Coretti</a>
                            <!--end::Username-->
                            <!--begin::Info-->
                            <div class="font-weight-bold text-dark-50 font-size-sm pb-6">Elektrotehnik</div>
                            <div class="font-weight-bold text-dark-50 font-size-sm pb-6">3. letnik FRI VSŠ</div>
                            <!--end::Info-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="pt-1">
                            <!--begin::Text-->
                            <p class="text-dark-75 font-weight-nirmal font-size-lg m-0 pb-7" style="text-align: justify">
                                Po končani elektrotehniški srednji šoli sem se odločil za Fakulteto za računalništvo in informatiko v Ljubljani. Tu sem še dodatno vzljubil računalniški svet, programiranje in reševanje problemov na inženirski način. Najraje uporabljam pridobljeno znanje in izkušnje pri aplikacijah na področju ekonomije in financ.
                            </p>
                            <!--end::Text-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--eng::Container-->
                    <!--begin::Footer-->
                    <div class="d-flex flex-center" data-toggle="tooltip" title="" data-placement="right" data-original-title="Chat Example">
                        <a href="" class="btn btn-primary font-weight-bolder font-size-sm py-3 px-14">Kontaktiraj me</a>
                    </div>
                    <!--end::Footer-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Nav Panel Widget 2-->

    </div>

    @* Julijana *@
    <div class="col-xl-3">

        <!--begin::Nav Panel Widget 2-->
        <div class="card card-custom card-stretch gutter-b">
            <!--begin::Body-->
            <div class="card-body">
                <!--begin::Wrapper-->
                <div class="d-flex justify-content-between flex-column pt-4 h-100">
                    <!--begin::Container-->
                    <div class="pb-5">
                        <!--begin::Header-->
                        <div class="d-flex flex-column flex-center">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-120 symbol-circle symbol-success overflow-hidden">
                                <span class="symbol-label">
                                    <img src="/theme/img/omg_i_cant_even.gif" class="h-100 align-self-end" alt="">
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Username-->
                            <a href="#" class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1">Julijana Djordjević</a>
                            <!--end::Username-->
                            <!--begin::Info-->
                            <div class="font-weight-bold text-dark-50 font-size-sm pb-6">Inženir informatike</div>
                            <div class="font-weight-bold text-dark-50 font-size-sm pb-6">3. letnik FRI VSŠ</div>
                            <!--end::Info-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="pt-1">
                            <!--begin::Text-->
                            <p class="text-dark-75 font-weight-nirmal font-size-lg m-0 pb-7" style="text-align:justify">
                                I have been in the computer science field for 8 years. I am currently studying it at the University of Ljubljana working towards a degree. I really like this field but my passion is also in other subjects. When I graduate I will go study psychology and work towards a doctorate in that field.  My future plans include wanting to travel the world and share what I've learned over the years in some form of teaching. I welcome the new challenges that the future holds and I am excited to take them on!
                            </p>
                            <!--end::Text-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--eng::Container-->
                    <!--begin::Footer-->
                    <div class="d-flex flex-center" data-toggle="tooltip" title="" data-placement="right" data-original-title="Chat Example">
                        <a href="" class="btn btn-primary font-weight-bolder font-size-sm py-3 px-14">Kontaktiraj me</a>
                    </div>
                    <!--end::Footer-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Nav Panel Widget 2-->

    </div>

    @* Aljaž *@
    <div class="col-xl-3">

        <!--begin::Nav Panel Widget 2-->
        <div class="card card-custom card-stretch gutter-b">
            <!--begin::Body-->
            <div class="card-body">
                <!--begin::Wrapper-->
                <div class="d-flex justify-content-between flex-column pt-4 h-100">
                    <!--begin::Container-->
                    <div class="pb-5">
                        <!--begin::Header-->
                        <div class="d-flex flex-column flex-center">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-120 symbol-circle symbol-success overflow-hidden">
                                <span class="symbol-label">
                                    <img src="/theme/img/aljaz-2.jpg" class="h-100 align-self-end" alt="">
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Username-->
                            <a href="#" class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1">Aljaž Sevnšek (vodja)</a>
                            <!--end::Username-->
                            <!--begin::Info-->
                            <div class="font-weight-bold text-dark-50 font-size-sm pb-6">Inženir informatike</div>
                            <div class="font-weight-bold text-dark-50 font-size-sm pb-6">2. letnik FRI VSŠ</div>
                            <!--end::Info-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="pt-1">
                            <!--begin::Text-->
                            <p class="text-dark-75 font-weight-nirmal font-size-lg m-0 pb-7">Vodja projekta in motivator.</p>
                            <!--end::Text-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--eng::Container-->
                    <!--begin::Footer-->
                    <div class="d-flex flex-center" data-toggle="tooltip" title="" data-placement="right" data-original-title="Chat Example">
                        <a href="" class="btn btn-primary font-weight-bolder font-size-sm py-3 px-14">Kontaktiraj me</a>
                    </div>
                    <!--end::Footer-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Nav Panel Widget 2-->

    </div>
</div>