@model CustomInvoice.WebApp.ViewModels.PartnerFormViewModel

@{
    ViewData["Title"] = "Edit";
}
<div class="card card-custom">
    @if (Model.Partner == null)
    {
        <div class="card-header">
            <h3 class="card-title">
                Dodajanje novega partnerja
            </h3>
        </div>
    }
    else
    {
        <div class="card-header">
            <h3 class="card-title">
                Urejanje partnerja - @Model.Partner.Name
            </h3>
        </div>
    }

    @using (Html.BeginForm("Save", "Partner"))
    {
        <!--begin::Form-->
        <form asp-action="Save">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-body">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Partner.Name" class="control-label"></label>
                    <input asp-for="Partner.Name" class="form-control" />
                    <span asp-validation-for="Partner.Name" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    @* naslov *@
                    <div class="col-lg-4">
                        <label asp-for="Partner.StreetName" class="control-label"></label>
                        <input asp-for="Partner.StreetName" class="form-control" />
                        <span asp-validation-for="Partner.StreetName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-1">
                        <label asp-for="Partner.StreetNumber" class="control-label"></label>
                        <input asp-for="Partner.StreetNumber" class="form-control" />
                        <span asp-validation-for="Partner.StreetNumber" class="text-danger"></span>
                    </div>
                    <div class="col-lg-1">
                        <label asp-for="Partner.PostNumber" class="control-label"></label>
                        <input asp-for="Partner.PostNumber" class="form-control" />
                        <span asp-validation-for="Partner.PostNumber" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label asp-for="Partner.City" class="control-label"></label>
                        <input asp-for="Partner.City" class="form-control" />
                        <span asp-validation-for="Partner.City" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label asp-for="Partner.Country" class="control-label"></label>
                        <input asp-for="Partner.Country" class="form-control" />
                        <span asp-validation-for="Partner.Country" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    @* kontakt *@
                    <div class="col-lg-6">
                        <label asp-for="Partner.Email" class="control-label"></label>
                        <input asp-for="Partner.Email" class="form-control" />
                        <span asp-validation-for="Partner.Email" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6">
                        <label asp-for="Partner.PhoneNumber" class="control-label"></label>
                        <input asp-for="Partner.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Partner.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" value="Shrani" class="btn btn-primary" />
                <a asp-area="" asp-controller="Partner" asp-action="Index" class="btn btn-secondary">Prekliči</a>
            </div>
        </form>
    }
</div>
    

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
